@import 'import';

body > header {
	color: $header-color;
	background: $header-bg;
	text-align: center;

	h1 {
		margin: 0;
	}

	h2 {
		color: $header-second-color;
	}
}

body > nav {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: flex-start;
	align-items: flex-start;

	> * {
		display: block;
	}
}
