@import 'import';

body > header {
	text-align: center;

	h1 {
		margin: 0;
	}
}

body > nav {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: flex-start;
	align-items: flex-start;

	> * {
		display: block;
	}

	.icons > a {
		margin-left: 1em;
		transition: font-size 200ms;
		vertical-align: middle;

		&:hover {
			font-size: 1.2em;
		}
	}
}
