@import 'import';

body > header {
	text-align: center;

	h1 {
		margin: 0;
	}
}

body > nav,
body > footer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: flex-start;
	align-items: flex-start;

	> * {
		display: block;
	}
}
