@import 'import';

* { box-sizing: border-box; }

:root { font-family: 'Trebuchet MS', 'Open Sans', 'Helvetica Neue', sans-serif; }

html {
	height: 100%;
	width: 100%;
	background: $page-bg;
	color: $txt-color;
}

body {
	margin: 0 auto;
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
}

body > nav,
body > header,
main > section {
	width: 100%;
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	padding: 5px calc(5px * 2.5);
}

body > nav,
main > section:nth-child(odd) {
	background: $section-bg;
}

body > header {
	background: $color-1;
}

@mixin wide-background {
	display: block;
	content: '';
	position: absolute;
	bottom: 0;
	right: calc(50% - 50vw);
	left: calc(50% - 50vw);
	top: 0;
	z-index: -1;
	background: inherit;
}

body > nav::before,
body > header::before,
main > section::before {
	@include wide-background;
}

main {
	padding: 0;
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a:link,
a:visited {
	color: $color-link;
}

p {
	text-align: justify;
	text-indent: 0.5in;
}

abbr.no-style {
	text-decoration: none;
}
