$header-bg: #386D9B;
$header-bg: darkturquoise;
$header-color: lightgreen;
$header-second-color: black;
$header-color: black;

$color-1: #386D9B;
$color-1: darkturquoise;
$color-2: lightblue;
$color-link: dodgerblue;
$btn-big-color: black;

$page-bg: whitesmoke;
$section-bg: white;
