$header-bg: #386D9B;
$header-bg: darkturquoise;

$color-1: #386D9B;
$color-1: darkturquoise;
$color-2: lightblue;
$color-link: dodgerblue;
$btn-big-color: black;
$txt-color: #222222;

$page-bg: whitesmoke;
$section-bg: white;
